{% extends "quiz/base.html" %}
{% load staticfiles %}

{% block side-created %}active{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'quiz/css/stats.css' %}" type="text/css" />
<script type="text/javascript" src="{% static 'quiz/js/stats.js' %}"></script>
<script type="text/javascript">var quiz_id = {{ quiz.pk }}</script>
{% endblock %}

{% block title %}Statistiques avancées{% endblock %}

{% block page-content %}
<div class="thumbnail">
    <div class="caption-full">
        <h1>Statistiques avancées - {{ quiz.title }}</h1>
        
        <form id="form-select-class" class="form">
            <div class="form-group">
                <label  for="class">Classe à afficher : </label>
                <select name="class" id="class">
                        <option value="all-classes" default>Toutes mes classes</option>
                    {% for cl in classes %}
                        <option value="{{cl.id}}">{{cl.name}}</option>
                    {% endfor %}
                </select>
            </div>
        </form>
        
        <div id="tables-container">
        <div id="stats-tables">
        <div class="fixed-cols bottom-space">
            <table class="table table-bordered no-space table-responsive">
                <thead>
                    <tr>
                        <th colspan="2">Statistiques</th>
                    </tr>
                    <tr>
                        <th>Étudiant</th>
                        <th class="info">Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for completed in l_completed %}
                        <tr class="dynamic">
                            <th class="hidden">
                                {% for cl in completed.get_student_classes %}
                                <div data-class="{{cl.id}}"></div>
                                {% endfor %}
                            </th>
                            <th class="contains-button" scope="row">
                            
                                <a title="Afficher la correction détaillée" href="{% url 'quiz:correct' completed.pk %}" class="btn btn-xs btn-warning">
                                    <span class="glyphicon glyphicon-check"></span>
                                </a>
                                {{ completed.id_user }}
                            </th>
                            <td class="info">{{ completed.result | floatformat }} <span class="bold">/ {{ completed.id_quiz.points | floatformat:0 }}</span></td>
                        </tr>
                    {% endfor %}
                    <tr class="info">
                        <th scope="row">Moyenne</th>
                        <td>{{ quiz.average_result | floatformat }} <span class="bold">/ {{ quiz.points | floatformat:0 }}</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="scrollable-cols bottom-space">
            <table class="table table-bordered no-space table-hover table-responsive">
                <thead>
                    <tr>
                        <th colspan="{{ quiz.length }}"><div id="questions-th">Points obtenus par question</div><div style="opacity:0">0</div></th>
                    </tr>
                    <tr>
                    {% for question in quiz.get_questions %}
                        <th class="contains-button">
                            <a title="Afficher la question" href="#quiz-info" class="btn btn-primary btn-xs show-question" data-show="#question-{{ question.number }}">
                                <span class="glyphicon glyphicon-eye-open"></span> Afficher
                            </a>
                        </th>
                    {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for completed in l_completed %}
                        <tr class="dynamic">
                            <td style="display: none">
                            {% for cl in completed.get_student_classes %}
                                <div data-class="{{cl.id}}"></div>
                            {% endfor %}

                            </td>

                        {% for question_submit in completed.get_questions_submits %}
                            <td>{{ question_submit.result | floatformat }} <span class="bold">/ {{ question_submit.id_question.points | floatformat }}</span></td>
                        {% endfor %}
                        </tr>
                    {% endfor %}
                    <tr>
                    {% for question in quiz.get_questions %}
                        <td class="info">{{ question.average_result | floatformat }} <span class="bold">/ {{ question.points | floatformat }}</span></td>
                    {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
        </div>
        <div class="quizform">
            <div id="quiz-info" class="panel panel-info">
                <div class="panel-heading bold">Informations générales sur le quiz</div>
                <ul class="list-group"></ul>
                    <li class="list-group-item"><span class="bold">Date de création :</span> {{ quiz.creation_date }}</li>
                    <li class="list-group-item"><span class="bold">Nombre de résolutions : {{ n_completed }}</span> </li>
                    <li class="list-group-item">Pour afficher l'énoncé d'une question, utilisez les boutons bleus dans le tableau <a class="btn btn-xs btn-success" id="show-all">Afficher toutes les questions</a></li>
                </ul>
            </div>
            {% autoescape off %}
            {% for form in l_forms %}
                <div id="question-{{ form.question.number }}" class="q-container panel panel-default hidden-question bottom-space">
                <div class="caption-full">
                {% if form.get_type == 1 %}
                    <div class="bottom-space">
                        <div class="markdown-body">{{ form.question.text }}</div>
                        {% for option in form.answer %}
                            {{ option.tag }}
                            <label class="markdown-body" for="{{ option.id_for_label }}">{{ option.choice_label }}</label>
                            <br />
                        {% endfor %}
                    </div>
                {% elif form.get_type == 0 %}
                    <div class="bottom-space">
                        <label class="markdown-body" for="{{ form.selected.id_for_label }}">{{ form.question.text }}</label>
                        {{ form.answer }}
                    </div>
                {% if form.question.get_wrong_answers %}
                    <div class="panel panel-danger bottom-space">
                        <div class="panel-heading bold">Réponses incorrectes proposées</div>
                        <ul class="list-group">
                            {% for wrong in form.question.get_wrong_answers %}
                            {% if wrong.text %}
                                <li class="list-group-item">
                                    <a class="btn btn-danger btn-xs add-correct-answer" title="Admettre en tant que réponse valide" data-answer-id="{{ wrong.pk }}">
                                        <span class="glyphicon glyphicon-check"></span>
                                    </a>
                                    {{ wrong.text }}
                                </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                {% endif %}
                </div>
                </div>
            {% endfor %}
            {% endautoescape %}
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
$( document ).ready(function() {
    $('form#form-select-class select').change(function () {
        var classe = $(this).val();
        console.log(classe);
        if ( classe !== 'all-classes') {
            $('tr.dynamic').hide();
        } else {
            $('tr.dynamic').show();
        }
        // filter les lignes qui correspondent à cet id de classe
        $divs = $('div[data-class="' + classe + '"]');
        //$divs.closest('tr').css('background-color', 'red');
        $divs.closest('tr').show();
    });
});
</script>

{% endblock %}