{% extends "quiz/base.html" %}
{% load staticfiles %}

{% block title %}Gestion des classes{% endblock %}

<h1>
{% block content-title %}
    Titre de la page
{% endblock content-title %}
</h1>

{% block page-content %}
contenu en cours de construction
{% endblock %}

{% block sidebar %}
<a href="#" class="list-group-item" {% block side-ls-classes %}{% endblock %}>Liste des classes</a>
<a href="#" class="list-group-item">Ajouter une classe</a>
<a href="#" class="list-group-item">Statistiques par classe></a>
{% endblock %}