{% extends "quiz/base_class_admin.html" %}

{% block side-class-members %}active{% endblock %}

{% block content-title %}
Liste des classes
{% endblock content-title %}

{% block page-content %}

    <h2>Mes classes</h2>

 
    <table class="table responsive-table table-striped table-bordered table-hover">
        <thead>
            <td>Nom de la classe</td>
        </thead>
        <tbody>

        {% for cl in classes  %}
        <tr>
            <td>
                <a href="{% url 'quiz:class_members' cl.id %}">{{cl.name}}</a>
            </td>
        </tr>
        {% endfor %}

        </tbody>
    </table>

    {% if class_group %}

        <table class="table responsive-table table-striped table-bordered table-hover table-condensed">
        <caption>
            Liste des étudiants de la classe <span class="class-group-name bold">{{class_group.name}}</span>
        </caption>
        <thead>
            
            <td>#</td>
            <td>Nom</td>
            <td>Prénom</td>
            
        </thead>
        <tbody>
        
        {% for student in students  %}
        <tr>
            <td>
                {{forloop.counter}}
            </td>
            <td>
                {{student.user.last_name}}
            </td>
            <td>
                {{student.user.first_name}}
            </td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
    
    {% endif %}

{% endblock page-content %}
