{% extends "quiz/base.html" %}
{% load staticfiles %}

{% block title %}{{ quiz.title }}{% endblock %}
{% block side-complete %}active{% endblock %}

{% block page-content %}
<div class="thumbnail">
    <form id="completeform" class="quizform" action="{% url 'quiz:complete' quiz.id %}" method="POST">
        <div class="caption-full">
            <h1>{{ quiz.title }}</h1>
            {% csrf_token %}
            {% autoescape off %}
            <ul class="list-group bottom-space">
                {% for form in l_forms %}
                    <li class="q_container list-group-item">
                    {% if form.get_type == 1 %}
                        <span class="label-span">{{ form.question.text }}</span>
                        {% for option in form.answer %}
                            {{ option.tag }}
                            <label for="{{ option.id_for_label }}">{{ option.choice_label }}</label>
                            <br />
                        {% endfor %}
                    {% elif form.get_type == 0 %}
                        <label for="{{ form.selected.id_for_label }}">{{ form.question.text }}</label>
                        {{ form.answer }}
                    {% endif %}
                    </li>
                {% endfor %}
            </ul>
            {% endautoescape %}
            <button type="submit" class="btn btn-sm btn-primary bottom-space">Soumettre les réponses</button>
        </div>
    </form>
</div>
{% endblock %}