{% extends "quiz/base.html" %}
{% load staticfiles %}
{% load tz %}

{% block side-completed %}active{% endblock %}

{% block title %}Mes résolutions{% endblock %}

{% block page-content %}
<div class="thumbnail">
    <div class="caption-full">
        <h1>Mes résolutions</h1>
        <table class="table table-bordered bottom-space table-responsive">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nom du quiz</th>
                    <th>Date</th>
                    <th>Résultat</th>
                </tr>
            </thead>
            <tbody>
                {% for completed in l_completed %}
                <tr>
                    <th scope="row">{{ completed.pk }}</th>
                    <td><a href="{% url 'quiz:correct' completed.pk %}">{{ completed.id_quiz.title }}</a></td>
                    <td>{{ completed.submit_date | localtime }}</td>
                    <td>{{ completed.result }}/{{ completed.id_quiz.points }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}