{% extends "quiz/base.html" %}
{% load staticfiles %}

{% block title %}Correction - {{ quiz.title }}{% endblock %}
{% block side-completed %}active{% endblock %}

{% block page-content %}
<div class="thumbnail">
    <div class="caption-full">
        <h1>Correction - {{ quiz.title }}</h1>
        {% autoescape off %}
        <ul class="quizform list-group bottom-space not-allowed">
            {% for correction in l_corrections %}
                <fieldset class="q-container markdown-body list-group-item" disabled>
                {% if correction.type == 0 %}
                    <label>{{ correction.text }} <span class="danger pull-right">{{ correction.result }}/{{ correction.points }}</span></label>
                    <input type=text class="form-control {{ correction.html_class }}" value="{{ correction.submit }}">
                    {% if not correction.is_correct %}
                        <div class="panel panel-success panel-click content-hidden top-space">
                            <div class="panel-heading bold">Solution(s) <span class="caret"></span></div>
                            <div class="panel-body">
                            {% for correct in correction.l_correct %}
                                <span>{{ correct }}</span><br>
                            {% endfor %}
                            </div>
                        </div>
                    {% endif %}

                {% elif correction.type == 1 %}
                    <div>{{ correction.text }} <span class="danger pull-right">{{ correction.result }} / {{ correction.points }}</span></div>
                    {% for choice in correction.l_correct_choices %}
                        <input type="checkbox" class="{{ choice.html_class }}" {{ choice.attribute }}>
                        <label>{{ choice.text }}</label>
                        <br>
                    {% endfor %}

                {% elif correction.type == 2 %}
                    <div>{{ correction.text }} <span class="danger pull-right">{{ correction.result }} / {{ correction.points }}</span></div>
                    {% for choice in correction.l_correct_choices %}
                        <input type="radio" class="{{ choice.html_class }}" {{ choice.attribute }}>
                        <label>{{ choice.text }}</label>
                        <br>
                    {% endfor %}
                {% endif %}
                {% if correction.comment %}
                    <div class="panel panel-default panel-click content-hidden top-space">
                        <div class="panel-heading bold">Commentaire <span class="caret"></span></div>
                        <div class="panel-body">{{ correction.comment }}</div>
                    </div>
                {% endif %}
                <div class="panel panel-default panel-click content-hidden top-space">
                    <div class="panel-heading bold">Statistiques <span class="caret"></span></div>
                    <div class="panel-body">Moyenne des autres utilisateurs : {{ correction.average }}/{{ correction.points }}</div>
                </div>
                </fieldset>
            {% endfor %}
            <div class="list-group-item">
                <h2>Résultat</h2>
                <p class="bold">Note globale : {{ completed.result }}/{{ quiz.points }} </p>
                <p class="bold">Note moyenne des autres utilisateurs : {{ quiz.average_result }}/{{ quiz.points }} </p>
            </div>
        </ul>
        {% endautoescape %}
        <a class="btn btn-sm btn-primary bottom-space" href="{% url 'quiz:find' %}"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Compléter un autre quiz</a>
    </div>
</div>
{% endblock %}