{% extends "quiz/base.html" %}
{% load staticfiles %}

{% block title %}Nouveau quiz{% endblock %}
{% block side-create %}active{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'quiz/css/create.css' %}">
<script src="{% static 'quiz/js/textarea_lines.js' %}"></script>
<script src="{% static 'quiz/js/jquery.caret.js' %}"></script>
<script src="{% static 'quiz/js/rs-compiled/toolbar.js' %}"></script>
<script src="{% static 'quiz/js/rs-compiled/interpreter.js' %}"></script>
{% endblock %}

{% block page-content %}
<div class="thumbnail">
    <form id="createform" action="{% url 'quiz:create' %}" method="post">{% csrf_token %}
        <div class="caption-full">
            <h1>Nouveau quiz</h1>
            <label for="title">Titre du quiz</label>
            <input type="text" class="form-control bottom-space" id="title" name="title">
            <label for="quizcode">Texte du quiz</label>
            
            <!-- Toolbar supérieure -->
            <div class="btn-toolbar">
                <!-- Première partie de la barre d'outils -->
                <div class="btn-group bottom-space" role="group">
                    <div class="btn-group" role="group">
                        <a type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false" title="Nouvelle question">
                        <span class="glyphicon glyphicon-th-list"></span> Question <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a class="tag-insert lb-required" data-tag-before="{++}
">QCM sélection multiple</a></li>
                            <li><a class="tag-insert lb-required" data-tag-before="{**}
">QCM sélection unique</a></li>
                            <li><a class="tag-insert lb-required" data-tag-before="{??}
">Champ de texte</a></li>
                        </ul>
                    </div>
                    <div class="btn-group" role="group">
                        <a type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false" title="Ajouter une option ou une solution">
                        <span class="glyphicon glyphicon-option-vertical"></span> Réponses <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a class="tag-insert lb-required" data-tag-before="{*}
">Option incorrecte</a></li>
                            <li><a class="tag-insert lb-required" data-tag-before="{=}
">Option correcte / Solution</a></li>
                            <li><a class="tag-insert lb-required" data-tag-before="{=r}
" data-tag-after=" // ^$">Expression régulière</a></li>
                        </ul>
                    </div>
                    <div class="btn-group" role="group">
                        <a type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false" title="Mise en forme Markdown">
                        <span class="glyphicon glyphicon-font"></span> Markdown <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a class="tag-insert" data-tag-before="**" data-tag-after="**"><span class="glyphicon glyphicon-bold"></span> Gras</a></li>
                            <li><a class="tag-insert" data-tag-before="*" data-tag-after="*"><span class="glyphicon glyphicon-italic"></span> Italique</a></li>
                            <li><a class="tag-insert lb-required" data-tag-before="```
" data-tag-after="
```"><span class="glyphicon glyphicon-align-left"></span> Bloc de code</a></li>
                            <li><a class="tag-insert" data-tag-before="`" data-tag-after="`"><span class="glyphicon glyphicon-console"></span> Code sur une ligne</a></li>
                            <li><a class="tag-insert" data-tag-before="[texte" data-tag-after="](url)"><span class="glyphicon glyphicon-link"></span> Lien</a></li>
                            
                        </ul>
                    </div>
                    <div class="btn-group" role="group">
                        <a type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false" title="Affichage de mathématiques">
                            <span class="glyphicon glyphicon-pencil"></span> Mathématiques <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation" class="dropdown-header">Ajouter une formule</li>
                            <li>
                                <a class="tag-insert" title="Affichage dans le texte" data-tag-before="\\(" data-tag-after="\\)">
                                    <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span> Formule in-line
                                </a>
                            </li>
                            <li>
                                <a class="tag-insert" title="Affichage agrandi et centré" data-tag-before="$$" data-tag-after="$$">
                                    <span class="glyphicon glyphicon-picture" aria-hidden="true"></span> Formule display
                                </a>
                            </li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation" class="dropdown-header">Symboles et expressions</li>
                            <li><a class="tag-insert" data-tag-before="^{" data-tag-after="}">Puissance \(x^{n}\)</a></li>
                            <li><a class="tag-insert" data-tag-before="\sqrt[" data-tag-after="]{}">Racine \(\sqrt[n]{x}\)</a></li>
                            <li><a class="tag-insert" data-tag-before="_{" data-tag-after="}">Indice \(x_{n}\)</a></li>
                            <li><a class="tag-insert" data-tag-before="\log_{" data-tag-after="}()">Logarithme \(\log_{n}(x)\)</a></li>
                            <li><a class="tag-insert" data-tag-before="\Leftrightarrow" data-tag-after="">Équivalence \(\Leftrightarrow\)</a></li>
                            <li><a class="tag-insert" data-tag-before="\lim_{x\to" data-tag-after="}">Limite \(\lim_{x\to +\infty}\)</a></li>
                            <li><a class="tag-insert" data-tag-before="\frac{" data-tag-after="}{}">Fraction \(\frac{a}{b}\)</a></li>
                            <li><a class="tag-insert" data-tag-before="+\infty" data-tag-after="">Infini \(\infty\)</a></li>
                        </ul>
                    </div>
                    <div class="btn-group" role="group">
                        <a type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false" title="Autres options">
                            <span class="glyphicon glyphicon-cog"></span> Autres <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a class="tag-insert lb-required" title="Commentaire pour la correction" data-tag-before="{+}
">
                                    <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> Commentaire
                                </a>
                            </li>
                            <li>
                                <a class="tag-insert lb-required" title="Nombre de points sur la question" data-tag-before="{.}
">
                                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span> Points
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <!-- Deuxième partie de la barre d'outils -->
                <div class="btn-group bottom-space">
                    <div class="btn-group" role="group">
                        <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false" title="Importer ou enregistrer un brouillon">
                            <span class="glyphicon glyphicon-file" aria-hidden="true"></span> Brouillon <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a class="" data-toggle="modal" id="importdraft-btn">Importer un brouillon</a></li>
                            <li><a class="" data-toggle="modal" id="savedraft-btn">Enregistrer un brouillon</a></li>
                        </ul>
                    </div>
                    <a class="btn btn-default btn-sm" id="demo" title="Quiz de démo">
                        <span class="glyphicon glyphicon-play" aria-hidden="true"></span> Démo
                    </a>
                    <a class="btn btn-default btn-sm" title="Afficher l'aide" data-toggle="modal" data-target="#help-box">
                        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Aide
                    </a>
                </div>
            </div>
                
            <!-- Zone de texte -->
            <div class="input-group bottom-space">
                <span class="input-group-addon lines" id="basic-addon1">1</span>
                <textarea class="form-control linedarea" id="quizcode" placeholder="Votre texte ici" rows="18" wrap="off" name="quizcode" aria-describedby="basic-addon1"></textarea>
            </div>
            <a href="#viewbox" class="btn btn-primary btn-sm bottom-space" id="start-render" title="Aperçu du quiz">
                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Aperçu
            </a>
            
            <a class="btn btn-success btn-sm bottom-space" id="submit" title="Enregistrer le quiz">
                <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Enregistrer
            </a>
            
            <div class="panel panel-default content-hidden bottom-space errorsbox disabled">
                <div class="panel-heading bold">Erreurs <span class="caret"></span></div>
                <div class="panel-body" id="errors-div"></div>
            </div>
            
            <input type="hidden" id="quiz_json" name="json" />
        </div>
    </form>
</div>

<!-- Aperçu -->
<div class="thumbnail viewbox" id="viewbox">
    <div class="caption-full">
        <h2>Aperçu</h2>
        <ul id="view_form" class="quizform list-group bottom-space"></ul>
    </div>
</div>
<!-- Boites de dialogue -->
<!-- Enregistrement de brouillons -->
<div class="modal fade" id="savedraft-box">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Enregistrer un brouillon</h4>
            </div>
            <div class="modal-body">
                <label for="draft-title">Nom du brouillon</label>
                <input type="text" id="draft-title" class="form-control bottom-space"/>
                <div class="alert bottom-space" id="save-status" style="display:none" role="alert"></div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-danger" data-dismiss="modal">Fermer</a>
                <a id="submitdraft-btn" class="btn btn-success">Enregistrer</a>
            </div>
        </div>
    </div>
</div>

<!-- Import de brouillons -->
<div class="modal fade" id="importdraft-box">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Importer un brouillon</h4>
            </div>
            <div class="modal-body">
                <div class="panel panel-primary">
                    <div class="panel-heading">Brouillons</div>
                    <ul class="list-group" id="list-drafts">
                        <li class="list-group-item"><span class="bold">Aucun brouillon enregistré</span></li>
                    </ul>
                </div>
            </div>
                <div class="modal-footer">
                <a class="btn btn-danger" data-dismiss="modal">Fermer</a>
            </div>
        </div>
    </div>
</div>

<!-- Aide -->
<div class="modal fade" id="help-box">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Aide</h4>
            </div>
            <div class="modal-body">
                <p>Vous pouvez consulter <a href="http://quiztm-2014-2-blm08.c9.io/quizTM-2014/sphinx-tm/build/html/doc-user.html">la documentation utilisateur de l'application</a> pour obtenir plus d'informations</p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-danger" data-dismiss="modal">Fermer</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}