{% extends "quiz/base.html" %}
{% load staticfiles %}

{% block side-complete %}active{% endblock %}

{% block head %}
<script src="{% static 'quiz/js/find_url.js' %}"></script>
{% endblock %}

{% block title %}Trouver un quiz{% endblock %}

{% block page-content %}
<div class="thumbnail">
    <div class="caption-full">
        <h1>Trouver un quiz</h1>
        <label for="find-input">Entrez l'id d'un quiz ou sélectionnez-en un dans la liste ci-dessous</label>
        <input type="text" id="find-input" class="form-control">
        <button type="button" id="search" class="btn btn-sm btn-primary">Chercher</button>
        <div id="message-quiz" style="display: none;" class="alert"></div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Titre</th>
                    <th>Nombre de questions</th>
                    <th>Auteur</th>
                </tr>
            </thead>
            <tbody>
                {% for quiz in l_quiz %}
                <tr>
                    <th scope="row">{{ quiz.pk }}</th>
                    <td><a href="{% url 'quiz:complete' quiz.pk %}">{{ quiz.title }}</a></td>
                    <td>{{ quiz.length }}</td>
                    <td>---</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}