{% extends "quiz/base.html" %}

{% block title %}Connexion{% endblock %}

{% block page-content %}
<div class="thumbnail">
    <div class="caption-full">
        <h1>Connexion</h1>
        
        {% if user.is_authenticated %}
        <div class="alert alert-success bottom-space"><span class="bold">Connexion réussie !</span> Bienvenue {{ user.username }} !</div>
        <form method="post" action="{% url 'common:deconnexion' %}">
            {% csrf_token %}
            <button class="btn btn-sm btn-default bottom-space" type="submit">Déconnexion</button>
        </form>
        
        {% else %}
        <div class="alert alert-info"><span class="bold">Pas encore inscrit ? </span><a class="btn btn-xs btn-primary" href="{% url 'common:register_student' %}">S'inscrire</a></div>
        <form class="formLogin" method="post" action=".">
            {% csrf_token %}
            {{ form.as_p }}
            {% if erreur %}
                <div class="alert alert-danger bottom-space"><span class="bold">Connexion échouée !</span> Vérifiez votre nom d'utilisateur et votre mot de passe</div>
            {% endif %}
            <input type="hidden" name="next" value="{{ next_url }}" />
            <button class="btn btn-sm btn-default bottom-space" type="submit">Connexion</button>
        </form>
        {% endif %}
    </div>
</div>

{% endblock %}