article {
	position: relative;
	resize: none;
}

.q_container {
	margin-left: 20px;
	margin-top: 10px;
}

h1 {
	font-size: 40px;
	font-weight: bold;
	color: #4B4B4B;
}

h2 {
	color: #848484;
	text-align: center;
}

#view form {
	border: 1px #003D62 solid;
	padding: 10px;
	max-width: 100%;
	text-align: left;
	border-radius: 4px;
	background: #D7E7F2;
	color: #003D62;
}

form p {
	margin: 5px;
	margin-bottom: 8px;
}

button {
	margin-top: 7px;
	margin-left: 2px;
}

input {
	margin: 0px;
	padding: 0px;
}

label, select, p, input {
	font-size: 20px;
	line-height: normal;
}

input, select {
	margin-left: 10px;
	font-size: 20px;
}

label {
	vertical-align: top;
	line-height: normal;
	text-indent: 10px;
	font-weight: normal;
}

br {
	margin:0px;
	padding:0px;
	line-height: 0px;
}

aside {
	border: 1px #81A8C1 solid;
	border-radius: 4px;
	text-align: left;
	margin-top: 20px;
	margin-bottom: 20px;
}

article {
	border: 1px #81A8C1 solid;
	border-radius: 4px;
	padding: 5px;
	margin-top: 20px;
	margin-bottom: 20px;
}

body {
  padding-top: 50px;
}
.starter-template {
  text-align: center;
}

.quizform label {
	font-weight: normal;
}

.quizform p {
	font-weight: bold;
}

.error-line {
	display: inline-block;
	font-weight: bold;
}

.error-content {
	position: absolute;
	left: 20%;
}