h1, h2 {
	color: #337ab7;
	margin-bottom: 10px;
	margin-top: 10px;
}

.quizform input + label {
	font-weight: normal;
}

.quizform span.label-span {
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
}

.error-line {
	display: inline-block;
	font-weight: bold;
}

.error-content {
	position: absolute;
	left: 15%;
	display: inline-block;
}

.caption-full > .list-group, .caption-full > .table, .caption-full > .alert,
.caption-full > .input-group, .caption-full > .btn, .caption-full > .form-control {
	margin-bottom: 10px;
	margin-top: 0px;
}

.errorsbox h2 {
	color: #a94442;
}

input.form-control, select.form-control {
	margin-bottom: 0px;
}

.toolbar-group {
	margin-bottom: 10px;
}

label, .label-span {
	margin-top: 10px;
}

label {
	display: block;
}

.modal-backdrop.in {
	opacity: 0;
}

.btn-default {
	outline: none !important;
	font-weight: bold;
}