input[type="checkbox"] + label {
    margin-left: 20px;
    display: inline-block;
    position: relative;
    padding-left: 5px;
}

input[type="checkbox"] + label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

input[type="checkbox"] + label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555;
}

input[type="checkbox"] {
    opacity: 0;
}

input[type="checkbox"]:focus + label::before {
    outline: none
}

input[type="checkbox"]:checked + label::after {
    font-family: 'FontAwesome';
    content: "\f00c";
}

input[type="checkbox"]:disabled + label {
    opacity: 0.65;
}

input[type="checkbox"]:disabled + label::before {
    background-color: #eeeeee;
    cursor: not-allowed;
}

input[type="checkbox"].primary:checked + label::before {
    background-color: #428bca;
    border-color: #428bca;
}

input[type="checkbox"].primary:checked + label::after {
    color: #fff;
}

input[type="checkbox"].danger:checked + label::before {
    background-color: #d9534f;
    border-color: #d9534f;
}

input[type="checkbox"].danger:checked + label::after {
    color: #fff;
}

input[type="checkbox"].info:checked + label::before {
    background-color: #5bc0de;
    border-color: #5bc0de;
}

input[type="checkbox"].info:checked + label::after {
    color: #fff;
}

input[type="checkbox"].warning:checked + label::before {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}

input[type="checkbox"].warning:checked + label::after {
    color: #fff;
}

input[type="checkbox"].success:checked + label::before {
    background-color: #5cb85c;
    border-color: #5cb85c;
}

input[type="checkbox"].success:checked + label::after {
  color: #fff;
}

input[type="radio"] + label {
    margin-left: 20px;
    display: inline-block;
    position: relative;
    padding-left: 5px;
}

input[type="radio"] + label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out;
}

input[type="radio"] + label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 11px;
    height: 11px;
    left: 3px;
    top: 3px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #555555;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}

input[type="radio"] {
    opacity: 0;
}

input[type="radio"]:focus + label::before {
    outline: none
}

input[type="radio"]:checked + label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
}

input[type="radio"]:disabled + label {
    opacity: 0.65;
}

input[type="radio"]:disabled + label::before {
    cursor: not-allowed;
}

input[type="radio"].primary + label::after {
    background-color: #428bca;
}

input[type="radio"].primary:checked + label::before {
    border-color: #428bca;
}

input[type="radio"].primary:checked + label::after {
    background-color: #428bca;
}

input[type="radio"].danger + label::after {
    background-color: #d9534f;
}

input[type="radio"].danger:checked + label::before {
    border-color: #d9534f;
}

input[type="radio"].danger:checked + label::after {
    background-color: #d9534f;
}

input[type="radio"].info + label::after {
    background-color: #5bc0de;
}

input[type="radio"].info:checked + label::before {
    border-color: #5bc0de;
}

input[type="radio"].info:checked + label::after {
    background-color: #5bc0de;
}

input[type="radio"].warning + label::after {
    background-color: #f0ad4e;
}

input[type="radio"].warning:checked + label::before {
    border-color: #f0ad4e;
}

input[type="radio"].warning:checked + label::after {
    background-color: #f0ad4e;
}

input[type="radio"].success + label::after {
    background-color: #5cb85c;
}

input[type="radio"].success:checked + label::before {
    border-color: #5cb85c;
}

input[type="radio"].success:checked + label::after {
    background-color: #5cb85c;
}